@import url("https://fonts.googleapis.com/css2\family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap");

@import "tailwindcss";

@theme{
  --color-custom-prim: #dcd7c9;
  --color-custom-sec: #a27b5c;
  --color-custom-tert: #3f4f44;
  --color-custom-quat: #2c3930;

  --font-cormorant: "Cormorant Garamond", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-quicksand: "Quicksand", sans-serif;

  --fade-in-out : fade-in-out 2s ease-in-out; 
}
  @keyframes fade-in-out {
    0%, 100% {
      opacity: 0; transform: translateY(20px);
    }
    10%, 90% {
      opacity: 1; transform: translateY(0px);
    }
  
  }
@utility buttons {
  @apply w-full bg-custom-sec hover:bg-custom-tert hover:text-custom-prim  py-2 rounded mb-4 text-center block;
}

/* Globale Stile, um Scrollen zu verhindern */
body.overflow-hidden {
  overflow: hidden;
  padding-right: 15px; /* Optional: Kompensation für die Scrollbar */
}

/* Optional: Überprüfen, ob der Browser Scrollbars unterstützt */
@supports (scrollbar-width: thin) or (display: -ms-grid) {
  body.overflow-hidden {
    padding-right: 0; /* Keine Kompensation erforderlich */
  }
}
